@font-face {
  font-family: "Helvetica Neue";
  src:
  url('../fonts/HelveticaNeueLTW20-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW20-Light.svg') format('svg'),
  url('../fonts/HelveticaNeueLTW20-Light.eot') format('embedded-opentype');
}
@font-face {
  font-family: "KFC Naskh";
  src:
  url('../fonts/KFC_naskh.otf') format('opentype');
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 700;
  src:
  url('../fonts/HelveticaNeueLTW20-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW20-Bold.svg') format('svg'),
  url('../fonts/HelveticaNeueLTW20-Bold.eot') format('embedded-opentype');
}
body {
  font-family: 'Helvetica Neue';
}
/* Start Reset*/
a{
  color:#000;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
  color:#d68917;
}

.header{
  background: url('../img/Header_Products_ar.png') no-repeat center/cover;
  height: 280px;
  width: 100%;
  position: relative;
  text-align: center;
  display: block;

}

ul{
background:linear-gradient(180deg,#000,transparent)
}

ul li{
  display: inline-block;
    list-style: none;
    margin: 2rem;
    font-weight: bolder;
    font-size: 22px;
    
}
ul li a{
 color: #fff; 
}

.footer{
  background: linear-gradient(0deg,#000,transparent);
  height: 10vh;
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 200px

}
.footer .box1 a{
 display: block;
}
