@font-face {
  font-family: "Helvetica Neue";
  src:
  url('../fonts/HelveticaNeueLTW20-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW20-Light.svg') format('svg'),
  url('../fonts/HelveticaNeueLTW20-Light.eot') format('embedded-opentype');
}
@font-face {
  font-family: "KFC Naskh";
  src:
  url('../fonts/KFC_naskh.otf') format('opentype');
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 700;
  src:
  url('../fonts/HelveticaNeueLTW20-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW20-Bold.svg') format('svg'),
  url('../fonts/HelveticaNeueLTW20-Bold.eot') format('embedded-opentype');
}
body {
  font-family: 'Helvetica Neue';
}
/* Start Reset*/
a{
  color:#000;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
.btn1{
  color: #26594d;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.card-body{
  padding: 5px;
}

.text-head{
  font-size: 22px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.img1{
  width: 80%;
  height: 30%;
}
.img-container{
  display: block;
  text-align: center;
}



