
/* card	*/
.card{
	margin: 10px 0 0 0;
}
.card-header{
	background-color: #fff;
	padding: 10px;
}
.card-body{
	padding: 10px;
}

.card-footer{
	background-color:#dffff9;
	padding: 10px;
}

.card-txt1{
	text-align: center;
	color: #14312f;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0px;
}

.card-txt2{
	text-align: center;
	color: #5a6d69;
	font-size: 16px;
	margin-bottom: 0;
}

.card-txt3{
	text-align: center;
	color: #576f6b;
	font-size: 16px;
	margin: 0;
}

.card-txt4{
	text-align: center;
	color: #10bc9e;
	font-size: 16px;
	margin-bottom: 0;
}

.card:hover{
	border-color: #10bd9f;
}

.card:hover .card-footer{
	background-color: #10bd9f;
	color:#fff;
	cursor: pointer;
}

.card:hover .card-txt4{
	color:#fff;
}
.card:hover .card-txt1{
	color: #10bc9e;
}


/* upper */
.upper-nav{
	border-bottom: 1px solid #cfd4d2;
	padding: 20px;
}

/* btn */
.header-btn-outline{
	color: #1e3a35;
	border:1px solid #ddd;
	width: 150px;
	margin-top: 20px;
}

.header-btn-outline:hover{
	color: #fff;
	background-color: #10bd9f;
}

/* header logo */
.header-logo-table-container{
	text-align: center;
}
.header-logo-table{
	text-align: right;
	display: inline-block;
}
.header-logo-img{
	width: 80px;
	height: 80px;
}
.header-logo-top-txt{
	display: block;
	margin-right: 15px;
}
.header-logo-down-txt{
	display: block;
	margin-right: 15px;
	font-weight: bold;
}

.header-right-btn-container{
	text-align: right;
}
.header-left-btn-container{
	text-align: left;
}

/* lower */
.lower-nav{
	border-bottom: 1px solid #cfd4d2;
	padding: 20px;
}

/* lower item */

.lower-nav-select-container{
	text-align: right;
}
.lower-nav-select{
	width: 135px !important;
	display: inline-block !important;
}

.lower-nav-select:focus{
	border-color: #10bd9f;
	box-shadow: none;
	color: #495057;
    background-color: #f0fffc;
}

.lower-nav-round-container{
	text-align: center;
}

.lower-nav-round{
	display: inline-block;
	border:1px solid #ddd;
	width: 130px !important;
	height: 40px !important;
	border-radius: 20px;
	line-height: 2;
	cursor: pointer;
}

.lower-nav-round:hover{
	border-color: #10bd9f;
	background-color: #f0fffc;
}

.lower-nav-input-container{
	text-align: left;
	position: relative;
}

.lower-nav-input:focus{
	border-color: #10bd9f;
	box-shadow: none;
	color: #495057;
    background-color: #f0fffc;
}

.fa-search{
    position: absolute;
    top: 10px;
    left: 25px;
    color: #ccc;
}


/* body */
body,html{
	height: 66vh !important;
}
.body{
	min-height: 100% !important;
	padding: 20px;
	border-bottom: 1px solid #cfd4d2;
	background-image: linear-gradient(#eff5f5,#fdfefe);
}

.body-title-lg{
	font-size: 20px;
	text-align: center;
	width: 100%;
}
/* footer */

.footer{
	padding: 20px;
	width: 100%;
	background-color:#eff5f5;
}


/* footer items*/
.social{
	margin-top: 15px;
}

.footer-link{
	margin-top: 15px;
}

.footer-link a{
	color: #000 !important;
}

.footer-link a:hover{
	text-decoration: none;
}


/* footer logo */
.footer-logo-container{
	text-align: left !important;
}
.footer-logo-table{
	text-align: right;
	display: inline-block;
}
.footer-logo-img{
	width:50px;
	height:50px;
}
.footer-logo-top-txt{
	font-size: 12px;
	display: block;
	margin-right: 15px;
}
.footer-logo-down-txt{
	font-size: 12px;
	display: block;
	margin-right: 15px;
	font-weight: bold;
}



/* media query */

@media (max-width: 320px) {
	/* media query 320px lower-nav items container*/
	.lower-nav-input{
		margin-top: 10px;
	}

	.fa-search{
		top: 20px;
	}
}

@media (max-width: 425px) {
	/* media query 425px header logo */
	.header-logo-top-txt{
		font-size: 12px;
	}
	.header-logo-down-txt{
		font-size: 14px;
	}

	.header-right-btn-container{
		text-align: center;
	}
	.header-left-btn-container{
		text-align: center;
	}
	.header-logo-table-container{
		padding: 10px 0 0 0 ;
	}

	/* media query 425px header btn */
	.header-btn-outline{
		margin-top: 10px;
		width: 100%;
	}

	/* media query 425px lower-nav items container*/
	.lower-nav-select{

		width: 49% !important;
	}

	.lower-nav-select-container{
		text-align: center;
	}

	.lower-nav-round-container{
		text-align: center;
		display: flex;
	}
	.lower-nav-round{
		flex: 1;
	}
	.lower-nav-round:first-child{
		margin-left: 2px;
	}
	.lower-nav-round:last-child{
		margin-right: 2px;
	}

	/* media query 425px card	*/
	.card{
		margin: 10px 0 0 0;
	}

	/* media query 425px footer	*/
	.footer-link-container{
		text-align: center;
	}

	.footer-social-container{
		text-align: center;
		margin-top: 5px;
	}

	.footer-logo-container{
		text-align: center;
		margin-top: 10px;
	}
}

@media (max-width: 768px) {
	/* media query 768px header logo */
	.header-logo-top-txt{
		font-size: 12px !important;
	}
	.header-logo-down-txt{
		font-size: 10px;
	}
	.header-logo-img{
		width: 60px !important;
		height: 60px !important;
	}

	/* media query 768px lower-nav items*/
	.lower-nav-select:first-child{
		margin-bottom: 10px !important;
	}

	.lower-nav-round:first-child{
		margin-bottom: 10px !important;
	}

	/* media query 768px card	*/
	.card{
		margin: 10px 0 0 0;
	}

}

@media (max-width: 1024px) {
	/* media query 1024px header logo */
	.header-logo-top-txt{
		font-size: 12px;
	}
	.header-logo-down-txt{
		font-size: 14px;
	}


}