
/* navbar */
.nav{
    border-bottom: 1px solid #cfd4d2;
    padding: 20px;
}

/* btn */
.header-btn-outline{
    color: #1e3a35;
    border:1px solid #ddd;
    width: 150px;
    margin-top: 20px;
}

.header-btn-outline:hover{
    color: #fff;
    background-color: #10bd9f;
}

/* header logo */
.header-logo-container{
    text-align: center;
}
.header-logo-table{
    text-align: right;
    display: inline-block;
}
.header-logo-img{
    width: 80px;
    height: 80px;
}
.header-logo-top-txt{
    display: block;
    margin-right: 15px;
}
.header-logo-down-txt{
    display: block;
    margin-right: 15px;
    font-weight: bold;
}

.header-right-btn-container{
    text-align: right;
}
.header-left-btn-container{
    text-align: left;
}

/* section */
.section-title-lg{
    font-size: 22px;
    padding: 2% 0;
    width: 100%;
    text-align: center;
    color: #1b3836;
    width: 100%;
}
.section-title-sm{
    font-size: 18px;
    padding: 2% 0;
    width: 100%;
    text-align: center;
    color: #1b3836;
}

/*sction1*/
.section1{
    background-image: linear-gradient(#eff5f5,#fff);
    padding-bottom: 2%;
}
 
.section1-list{
    text-align: center;
}
.section1-list li{
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}
.section1-list li a{
    text-decoration: none;
    color: #576b6c;
    font-size: 18px;
}

.section1-list-a-border{
    border-bottom: 6px solid #dce8e8;
    color: #10bd9f !important;
    font-weight: bold;
}

.section1-title{
    width: 100%;
    text-align: center;
    color: #1b3836;
}

.section1-descr{
    margin-top: 2%;
    text-align: center;
    color: #1b3836;
}

.section1-static-txt{
    font-size: 30px;
    font-weight: bold;
    color: #1b3836;
    text-align: right;
    margin-top: 3%;
}
.section1-round{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}

.section1-round-brown{
    background-color: #fbf6ea;  
}

.section1-round-blue{
    background-color: #effafe;  
}

.section1-round-green{
    background-color: #eefefb;  
}

.section1-round-txt-up{
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 26px;
    right: 50px;
}
.section1-round-txt-up-brown{
    color: #d09a16;
}
.section1-round-txt-up-blue{
    color: #42a7d5;
}
.section1-round-txt-up-green{
    color: #01b47c;
}

.section1-round-txt-down{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 55px;
    right: 50px;
}
.section1-round-txt-down-brown{
    color: #6f6452;
}
.section1-round-txt-down-blue{
    color: #50586b;
}
.section1-round-txt-down-green{
    color: #4c6c55;
    display: block;
    width: 100px;
}



/*sction2*/
.section2{
    min-height: 300px;
    border-top: 1px solid #cfd4d2;
    border-bottom: 1px solid #cfd4d2;
    display: flex;
}
.section2-summer{
    flex: 1;
    padding: 2% 7%;
    background-color: #fbf6ea ;
}
.section2-winter{
    flex:1;
    padding: 2% 7%;
    background-color: #eefefb ;
}

.btn-summer{
    background-color: #d09a17;
    color: #fff;
    border: 1px solid #d09a17;
}

.btn-summer:hover{
    color: #825d06;
    background-color: #ffb604;
}

.btn-winter{
    border: 1px solid #10bd9e;
    background-color: #10bd9e;
    color: #fff;
}

.btn-winter:hover{
    background-color: #04f7ce;
    color: #037965;
}

/*sction3*/
.section3{
    min-height: 600px;
    padding-bottom: 2%;
}



.activity-card-img{
    width: 348px;
    height: 160px;
}

.activity-card-title{
    display: block;
    font-size: 16px;
}

.activity-card-descr{
    display: block;
    font-size: 18px;
}

/* footer */
.footer{
    padding: 20px;
    width: 100%;
    background-color:#eff5f5;
}

/*sction4*/
.section4{
    border-top: 1px solid #cfd4d2;
    min-height: 300px;
    padding-bottom: 2%;
}

/* footer items*/
.social{
    margin-top: 15px;
}

.footer-link{
    margin-top: 15px;
}

.footer-link a{
    color: #000 !important;
}

.footer-link a:hover{
    text-decoration: none;
}

/* footer logo */
.footer-logo-table-container{
    text-align: left;
}
.footer-logo-table{
    text-align: right;
    display: inline-block;
}
.footer-logo-img{
    width:50px;
    height:50px;
}
.footer-logo-top-txt{
    font-size: 12px;
    display: block;
    margin-right: 15px;
}
.footer-logo-down-txt{
    font-size: 12px;
    display: block;
    margin-right: 15px;
    font-weight: bold;
}



/* media query */

@media (max-width: 320px) {

}

@media (max-width: 425px) and (max-width: 765px){
    /*  media query 425px header */
    .header-right-btn-container{
        text-align: center;
    }
    .header-btn-outline{
        width: 100%;
    }
    .header-logo-table-container{
        padding: 2% 0;
    }

    /*  media query 425px section 1*/
    .section1-static-txt{
        display: inline-block;
    }   
    .section1-round{
        display: inline-block;
    }
    .section1-box{
        margin-top: 3%;
        text-align: center;
    }
    .section1-round-txt-up {
        top: 30px;
        right: 25px;
    }
    .section1-round-txt-down {
        top: 60px;
        right: 26px;
    }

    /*  media query 425px section 2*/
    .section2{
        display: block;
    }

    .section2-summer{
        display: block;
    }

    .section2-winter{
        display: block;
    }

    /* media query 425px footer */
    .footer-link-container{
        text-align: center;
    }

    .footer-social-container{
        text-align: center;
        margin-top: 5px;
    }

    .footer-logo-container{
        text-align: center;
        margin-top: 10px;
    }

}

@media (max-width: 768px) {

    /* media query 768px footer */
    .card{
        margin: 2% 0;
    }
}


