@font-face {
  font-family: "Helvetica Neue";
  src:
  url('../fonts/HelveticaNeueLTW20-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW20-Light.svg') format('svg'),
  url('../fonts/HelveticaNeueLTW20-Light.eot') format('embedded-opentype');
}
@font-face {
  font-family: "KFC Naskh";
  src:
  url('../fonts/KFC_naskh.otf') format('opentype');
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 700;
  src:
  url('../fonts/HelveticaNeueLTW20-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW20-Bold.svg') format('svg'),
  url('../fonts/HelveticaNeueLTW20-Bold.eot') format('embedded-opentype');
}
body{
	font-family: 'Helvetica Neue';
	direction: rtl;
	text-align: right;

}
a{
  display: inline-block;
    width: 60px;
    text-align: center;
    font-weight: bold;
    padding: 2px 5px;
}
a:hover{
  text-decoration: none;
  color:#000;
}
.card{
  padding: 2px;
}
.card-body{
  padding: 5px;
}
.alert{
  padding: 5px;
  margin-bottom: 3px;
}
.category{
  color: grey;
}
.name-info{
  color: grey;
  font-size: 12px;
}