@font-face {
  font-family: "Helvetica Neue";
  src:
  url('../fonts/HelveticaNeueLTW20-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW20-Light.svg') format('svg'),
  url('../fonts/HelveticaNeueLTW20-Light.eot') format('embedded-opentype');
}
@font-face {
  font-family: "KFC Naskh";
  src:
  url('../fonts/KFC_naskh.otf') format('opentype');
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 700;
  src:
  url('../fonts/HelveticaNeueLTW20-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW20-Bold.svg') format('svg'),
  url('../fonts/HelveticaNeueLTW20-Bold.eot') format('embedded-opentype');
}
body{
	font-family: 'Helvetica Neue';
	direction: rtl;
	text-align: right;
  height: 100vh;
}
a{
  display: inline-block;
  min-width: 30px;
  text-align: center;
  font-weight: bold;
  padding: 1px 3px;
}
a:hover{
  text-decoration: none;
  color:#000;
}
select{
  font-size: 14px !important;
  padding: 0 1px !important;
  height: 37px !important;
}
.card{
  padding: 2px;
}
.card-body{
  padding: 5px;
}
.alert{
  padding: 5px;
  margin-bottom: 3px;
  box-shadow: 0 0 2px 0px black;
}
.category{
  color: grey;
}
.name-info{
  color: grey;
  font-size: 12px;
}
.cate{
  color: #159c90;
  font-weight: bold;
}
.number{
  color: #159c90;
  font-weight: bold;
}
.date{
  color: #159c90;
  font-weight: bold;
}
.job{
  color: #7d30d2;
  font-weight: bold;
}

.title{
  color: #7d30d2;
  font-weight: bold;
}
.alert-info{
  color: #1e598a;
  background-color: #f2f2f2;
}
.btn-info{
  color: #144ef5;
  border-color: #144ef5;
}
.head-title{
    color: #2ea5ca;
  font-weight: bold;
  font-size: 22px;
}
.head-subtitle{
  color: #789ab5;
  font-weight: bold;
  font-size: 20px;
}

/* spreads */
.spreads{
  display: flex;
}
