	/*------ overlay --------*/
	.overlay{
		background: url('../img/bg.png');
		min-height: 450px;
		background-size: cover;
		color: #fff;
	}

	body{
		margin: 0;padding: 0;
	}

	.leftside-container{
		height: 100vh;
		width: 684.16px;
		position: relative;
	}

	.img-nav{
		height: 100%;
	}
	.side-content{
		position: absolute;
		left: 26%;
		top: 35%;
		text-align: center;
	}
	.side-btn{
		color:#67347f;
		font-weight: bolder;
		font-size: 33px;
	}
	.welcome-container{
		display: flex;
	}
	.d-block{
		height: 100vh;
		width:100%;
	}
	.h1{
		font-size: 33px;
		margin-top: 5px;
		text-align: center;
	}
	.divider{
		border-bottom: 3px solid #ddd;
		width: 25%;
	}


	.text-divider {
		display: flex;
		align-items: center; 
	}

	.text-divider::before,
	.text-divider::after {
		content: '';
		height: 1px;
		background-color: silver;
		flex-grow: 1; 
	}

	/*----------news sections---------*/
	.news-section{
		height: 100vh;
		text-align: right;
		margin: 2rem 0;
	}
	.news-section img{
		width: 280px;
	}

	/*----------media query---------*/
	@media (max-width:768px) {
		.leftside-container{
			display: none;
		}
	}

	@media (max-width:767px) {
		.txt-md-center{
			text-align: center;
		}
	}

/*
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
*/