    .body{
        width: 100%;
        min-height: 75vh;
        background-image: linear-gradient(#eff5f5,#fff);
    }

    .body-term-input-container{
    	position: relative;
    }

    .body-term-passowrd-input-show-txt{
    	font-size: 12px;
        position: absolute;
        bottom: 10px;
        left: 5px;
    }

    .body-term-passowrd-input-show-txt:hover {
        cursor: pointer;
        color: #10bd9f;
    }

    .body-term-input:focus {
        color: #495057;
        background-color: #f0fffc;
        border-color: #10bd9f;
        outline: 0;
        box-shadow:none; 
    }


    .body-title-lg{
        font-size: 25px;
        text-align: center;
        width: 100%;
        display: block;
    }

    .body-title-sm{
        font-size: 16px;
        text-align: center;
        width: 100%;
        display: block;
    }   

    .card{
        min-width: 350px;
        min-height: 215px;
        box-shadow: 0 0 1px 1px #ebebeb;
    }

    .card-footer{
        background-color: #fff;
        text-align: center;
    }

    .body-term-btn{
        border-color: #10bd9f;
        background-color: #f0fffc;
        color: #495057;
        width: 150px;
    }

    .body-term-btn:hover{
        background-color: #10bd9f;
        color: #fff;
    }

    .body-term-btn:focus{
        box-shadow: none;
    }

    /* navbar */
    .nav{
        border-bottom: 1px solid #cfd4d2;
        padding: 20px;
    }

    /* btn */
    .header-btn-outline{
        color: #1e3a35;
        border:1px solid #ddd;
        width: 150px;
        margin-top: 20px;
    }

    .header-btn-outline:hover{
        color: #fff;
        background-color: #10bd9f;
    }

    /* header logo */
    .header-logo-container{
        text-align: center;
    }
    .header-logo-table{
        text-align: right;
        display: inline-block;
    }
    .header-logo-img{
        width: 80px;
        height: 80px;
    }
    .header-logo-top-txt{
        display: block;
        margin-right: 15px;
    }
    .header-logo-down-txt{
        display: block;
        margin-right: 15px;
        font-weight: bold;
    }

    .header-right-btn-container{
        text-align: right;
    }
    .header-left-btn-container{
        text-align: left;
    }


    /* footer */
    .footer{
        padding: 20px;
        width: 100%;
        background-color:#eff5f5;
    }


    /* footer items*/
    .social{
        margin-top: 15px;
    }

    .footer-link{
        margin-top: 15px;
    }

    .footer-link a{
        color: #000 !important;
    }

    .footer-link a:hover{
        text-decoration: none;
    }

    /* footer logo */
    .footer-logo-table-container{
        text-align: left;
    }
    .footer-logo-table{
        text-align: right;
        display: inline-block;
    }
    .footer-logo-img{
        width:50px;
        height:50px;
    }
    .footer-logo-top-txt{
        font-size: 12px;
        display: block;
        margin-right: 15px;
    }
    .footer-logo-down-txt{
        font-size: 12px;
        display: block;
        margin-right: 15px;
        font-weight: bold;
    }



    /*  media query 320px   */

    @media (max-width: 320px) {

    }

    /*  media query 425px   */
    @media (max-width: 425px) {

        /*  media query 425px header */
        .header-right-btn-container{
            text-align: center;
        }
        .header-btn-outline{
            width: 100%;
        }
        .header-logo-table-container{
            padding: 2% 0;
        }
        
        /* media query 425px footer */
        .footer-link-container{
            text-align: center;
        }

        .footer-social-container{
            text-align: center;
            margin-top: 5px;
        }

        .footer-logo-container{
            text-align: center;
            margin-top: 10px;
        }
    }

    /*  media query 768px   */
    @media (max-width: 768px) {

        /* media query 768px card   */
        .card-container{
            text-align: center;
        }
        .card{
            display: inline-block;
            height: auto;
            margin-top: 5%;
        }
    }
