
	.body{
		width: 100%;
		min-height: 75vh;
		background-image: linear-gradient(#eff5f5,#fff);
	}

	.body-title-lg{
		font-size: 25px;
		text-align: center;
		width: 100%;
		display: block;
	}

	.body-title-sm{
		font-size: 16px;
		text-align: center;
		width: 100%;
		display: block;
	}	

	.card{
		width: 200px;
		height: 170px;
	}

	.card-active{
		box-shadow: 0px 2px 5px 1px #ccc;
		border:1px solid #10bd9f;
	}

	.card-round{
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		text-align: center;
		color: #fff;
		font-weight: bold;
		background-color: #CCC;
	}

	.card-round-active{
		background-color: #10bd9f;	
	}

	.card-round-txt{
		color: #ccc;
		font-weight: bold;
		text-align: center;
		margin-bottom: 0;
	}
	.card-round-txt-active{
		color: #10bd9f;
	}

	.card-footer {
		text-align: center;
		color: #fff;
		background-color: #ccc;

	}
	.card-footer-active{
		background-color: #10bd9f;
	}

	.card-footer p{
		margin-bottom: 0;
	}


	/* navbar */
	.nav{
		border-bottom: 1px solid #cfd4d2;
		padding: 20px;
	}

	/* btn */
	.header-btn-outline{
		color: #1e3a35;
		border:1px solid #ddd;
		width: 150px;
		margin-top: 20px;
	}

	.header-btn-outline:hover{
		color: #fff;
		background-color: #10bd9f;
	}

	/* header logo */
	.header-logo-table-container{
		text-align: center;
	}
	.header-logo-table{
		text-align: right;
		display: inline-block;
	}
	.header-logo-img{
		width: 80px;
		height: 80px;
	}
	.header-logo-top-txt{
		display: block;
		margin-right: 15px;
	}
	.header-logo-down-txt{
		display: block;
		margin-right: 15px;
		font-weight: bold;
	}

	.header-right-btn-container{
		text-align: right;
	}
	.header-left-btn-container{
		text-align: left;
	}


	/* footer */
	.footer{
		padding: 20px;
		width: 100%;
		background-color:#eff5f5;
	}


	/* footer items*/
	.social{
		margin-top: 15px;
	}

	.footer-link{
		margin-top: 15px;
	}

	.footer-link a{
		color: #000 !important;
	}

	.footer-link a:hover{
		text-decoration: none;
	}

	/* footer logo */
	.footer-logo-container{
		text-align: left;
	}
	.footer-logo-table{
		text-align: right;
		display: inline-block;
	}
	.footer-logo-img{
		width:50px;
		height:50px;
	}
	.footer-logo-top-txt{
		font-size: 12px;
		display: block;
		margin-right: 15px;
	}
	.footer-logo-down-txt{
		font-size: 12px;
		display: block;
		margin-right: 15px;
		font-weight: bold;
	}



	/*	media query 320px	*/

	@media (max-width: 320px) {

	}

	/*	media query 425px	*/
	@media (max-width: 425px) {

		/*	media query 425px header */
		.header-right-btn-container{
			text-align: center;
		}
		.header-btn-outline{
			width: 100%;
		}
		.header-logo-table-container{
			padding: 2% 0;
		}
		
		/* media query 425px footer	*/
		.footer-link-container{
			text-align: center;
		}

		.footer-social-container{
			text-align: center;
			margin-top: 5px;
		}

		.footer-logo-container{
			text-align: center;
			margin-top: 10px;
		}
	}

	/*	media query 768px	*/
	@media (max-width: 768px) {

		/* media query 768px card	*/
		.card-container{
			text-align: center;
		}
		.card{
			display: inline-block;
			height: auto;
			margin-top: 5%;
		}
	}
